USE [master]
GO
/****** Object:  Database [TableApp]    Script Date: 3.6.22 00:01:24 ******/
CREATE DATABASE [TableApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'New Database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\New Database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'New Database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\New Database.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TableApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TableApp]
GO
/****** Object:  Table [dbo].[ice_electric2021final]    Script Date: 3.6.22 00:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ice_electric2021final](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PriceHubId] [int] NULL,
	[TradeDate] [datetime] NULL,
	[DeliveryStartDate] [datetime] NULL,
	[DeliveryEndDate] [datetime] NOT NULL,
	[HighPrice] [float] NULL,
	[LowPrice] [float] NULL,
	[WtdAvgPrice] [float] NULL,
	[Change] [float] NULL,
	[DailyVolume] [float] NULL,
 CONSTRAINT [PK_IceElectricHistoricalMarketData_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[price_hubs]    Script Date: 3.6.22 00:01:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[price_hubs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
 CONSTRAINT [PK_PriceHub] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ice_electric2021final]  WITH CHECK ADD  CONSTRAINT [FK_PriceHubIdName] FOREIGN KEY([PriceHubId])
REFERENCES [dbo].[price_hubs] ([Id])
GO
ALTER TABLE [dbo].[ice_electric2021final] CHECK CONSTRAINT [FK_PriceHubIdName]
GO
USE [master]
GO
