.pagination-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagination {
    display: inline-block;
    margin-bottom: 10px;
}

    .pagination a {
        cursor: pointer;
        user-select: none;
        color: #dee0e3;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
    }

        .pagination a.active {
            pointer-events: none;
            background-color: #ea80fc;
            color: #202124;
        }

        .pagination a.disabled {
            pointer-events: none;
            background-color: #2e3133;
            color: #757575;
            cursor: default;
        }

        .pagination a:hover:not(.active):not(.disabled) {
            background-color: #3c4042;
        }

.selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .selection-container .selection-title {
        font-size: 12px;
    }

    .selection-container .form-select {
        margin: 5px 0 20px 0;
        padding: 0.375rem 2.0rem 0.375rem 0.75rem;
        max-width: 60px;
        font-size: 12px;
        text-align: left;
    }
