.table-container {
    overflow: auto;
    height: 500px;
}

    .table-container th {
        border-style: none;
        position: sticky;
        top: 0;
        z-index: 1;
        box-shadow: inset 0px -1px 0px 0px red;
    }

    .table-container table {
        border-collapse: collapse;
        width: 100%;
    }

    .table-container .sort-th {
        cursor: pointer;
        user-select: none;
    }

    .table-container .header-container {
        display: flex;
    }

        .table-container .header-container .header-title {
            align-self: flex-start;
            flex: 1 1 0%;
        }

        .table-container .header-container .header-icon i.bi-caret-up-fill::before {
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }

        .table-container .header-container .header-icon i.rotated.bi-caret-up-fill::before {
            -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
        }

    .table-container td {
        vertical-align: middle;
    }

        .table-container td .dates {
            height: 0;
            overflow: hidden;
            -webkit-transition: height 400ms ease;
            transition: height 400ms ease;
        }

            .table-container td .dates.expanded {
                height: 72px;
            }

        .table-container td .dates-icon {
            cursor: pointer;
            margin: auto;
            width: max-content;
        }
