@using TableApp.Data
@using TableApp.Models

@page "/records";
<h3>Records</h3>

<RecordsTable ColumnsSet="_columns" CurrentPage="CurrentPage" PageSize="PageSize"></RecordsTable>
<RecordsPagination CurrentPage="CurrentPage" PageSize="PageSize"></RecordsPagination>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "page")]
    public int CurrentPage { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "pageSize")]
    public int PageSize { get; set; }

    readonly TableColumn[]? _columns = {
        new()
        {
            ColumnId = "PriceHub",
            ColumnName = "Price hub"
        },
        new()
        {
            ColumnId = "HighPrice",
            ColumnName = "High price $/MWh"
        },
        new()
        {
            ColumnId = "LowPrice",
            ColumnName = "Low price $/MWh"
        },
        new()
        {
            ColumnId = "WtdAvgPrice",
            ColumnName = "Wth avg price $/MWh"
        },
        new()
        {
            ColumnId = "Change",
            ColumnName = "Change"
        },
        new()
        {
            ColumnId = "DailyVolume",
            ColumnName = "Daily volume MWh"
        },
        new()
        {
            ColumnId = "TradeDate",
            ColumnName = "Dates"
        }
    };

    protected override void OnInitialized()
    {
        PageSize = PageSize > 0 ? PageSize : 10;
        CurrentPage = CurrentPage > 0 ? CurrentPage : 1;
      }
}
